<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<config>
		--><!-- Proxy settings: HTTPS_PROXY is not supported in nuget.config --><!--
		<add key="HTTPS_PROXY" value="http://10.10.104.22:12986" />
	</config>
	<packageSourceCredentials>
		<Infra>
			<add key="Username" value="Infra" />
			<add key="ClearTextPassword" value="f2pfibmeegerverveuolxdjv3qnvpe34tgevongbcb5o25gpbl5bea" />
			<add key="ValidAuthenticationTypes" value="basic" />
		</Infra>
	</packageSourceCredentials>-->
	<packageSources>
		<clear />
		<add key="Infra" value="https://pkgs.dev.azure.com/calanchenlins/LightBlog/_packaging/Infra/nuget/v3/index.json" />
	</packageSources>
</configuration>
