@{
    Layout = null;
}

<!DOCTYPE html>

@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
</body>
</html>*@

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdentityServer4</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <span class="navbar-brand">
                        <img src="/icon.png" class="icon-banner">
                        IdentityServer4
                    </span>
                </a>
            </div>

        </div>
    </div>

    <div class="container body-content">

        <div class="login-page">
            <div class="page-header">
                <h1>Login</h1>
            </div>



            <div class="row">

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Local Login</h3>
                        </div>
                        <div class="panel-body">

                            <form action="" method="post">
                                <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@ViewBag.ReturnUrl">

                                <fieldset>
                                    <div class="form-group">
                                        <label for="Username">Username</label>
                                        <input class="form-control" placeholder="Username" autofocus="" type="text" data-val="true" data-val-required="The Username field is required." id="Username" name="Username" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="Password">Password</label>
                                        <input type="password" class="form-control" placeholder="Password" autocomplete="off" data-val="true" data-val-required="The Password field is required." id="Password" name="Password">
                                    </div>
                                    <div class="form-group login-remember">
                                        <label for="RememberLogin">
                                            <input type="checkbox" data-val="true" data-val-required="The RememberLogin field is required." id="RememberLogin" name="RememberLogin" value="true">
                                            <strong>Remember My Login</strong>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" name="button" value="login">Login</button>
                                        <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                                    </div>
                                </fieldset>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HDEAnVNadVLruGCVqkdVpk_qM84MECeqnzUE9KtIL9fR1yGLIJo1hwVLWjDsASSxKNJlKd4Sp1hHtFSSDvsQ2Yu_eHEeYUp-paufPx_9KqoPRmxY6K8dcc6u2CMMlRvA_PcTFt7qL6u34HeXKuEHYk"><input name="RememberLogin" type="hidden" value="false">
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 external-providers">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">External Login</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-default" href="/External/Challenge?provider=Google&amp;returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Djs%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A5003%252Fcallback.html%26response_type%3Dcode%26scope%3Dopenid%2520profile%2520api1%26state%3D97567cc3f9e74ef0b804e23a81b6a777%26code_challenge%3DWyc1ovij-A1S2ES7dUWzvI_XuSvW6yG5m2g0SYvh_RI%26code_challenge_method%3DS256">
                                        Google
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-default" href="/External/Challenge?provider=oidc&amp;returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Djs%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A5003%252Fcallback.html%26response_type%3Dcode%26scope%3Dopenid%2520profile%2520api1%26state%3D97567cc3f9e74ef0b804e23a81b6a777%26code_challenge%3DWyc1ovij-A1S2ES7dUWzvI_XuSvW6yG5m2g0SYvh_RI%26code_challenge_method%3DS256">
                                        OpenID Connect
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>



</body>
</html>
