@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    var ReturnUrl = ViewData["ReturnUrl"].ToString();
}

<div class="sign-up-container">
    <div class="d-none d-md-block">
        <h1 class="font-size-4 text-center">Create your account</h1>
        <hr />
    </div>

    <div class="">
        <!-- FormTagHelper injects antiforgery tokens into HTML form elements -->
        <form asp-action="SignUp" data-encrypted-form="true">
            <div class="text-danger validation-summary-valid" data-valmsg-custom="true"><ul></ul></div>
            <div class="form-group">
                <input hidden value="@ReturnUrl" class="form-control" name="@nameof(ReturnUrl)" />
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="col-form-label font-weight-bold"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" name="button" value="SignUp">Sign up</button>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

